/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');

h1 {
    font-family: 'kaushan script'

}
body {
    background-image: linear-gradient(to right, lightgreen, lightblue);
    font-family: Arial, Helvetica, sans-serif;
}
.ber{
    color: red;
}
.igor{
    color: aqua;
} */


